$dark-color: #000028;
$heading-color: #db00ff;
$accent-color: #ff0070;
$light-color: #f1b2ce;
$border: 1px solid $accent-color;

.page.theme_dark {
  color: $accent-color;
  background-color: $dark-color;

  .decorated-zone {
    &::after {
      border-top: $border;
      border-right: $border;
    }
  
    &::before {
      border-bottom: $border;
      border-left: $border;
    }
  }

  .header {
    background-image: url(../../images/cover-image-dark.png);
    
    &__text {
      color: $dark-color;
      background-color: $accent-color;
    }

    &__heading {
      color: $heading-color;
      text-shadow: 4px 4px 0px $accent-color;
    }

    &__theme-menu-button {
      &_active {
        border: $border;
      }

      &:hover {
        border: 1px solid rgba(255, 0, 112, 0.40);
      }

      &:focus-visible {
        border-bottom: $border;
      }
    }

    &__decoration {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      position: absolute;
      top: 11px;
      right: 19px;
    }
  
    &__decoration-text {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 1.4;
    }

    &__decoration-element {
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $accent-color;
      box-shadow: 0px 0px 5px 3px #FF0070;
      
    }

    @media (min-width: 700px) {
      &__decoration {
        top: 20px;
        right: 29px;
      }
    }
  }

  .section {
    &__heading {
      color: $accent-color;
    }

    &__title {
      color: $dark-color;
      background-color: $accent-color;
    }
  }

  .content {
    &__title {
      color: $dark-color;
      background-color: $accent-color;
    }

    &__sub-title {
      color: $dark-color;
      background-color: $accent-color;
    }

    &__text {
      color: $light-color;
    }

    &__link {
      text-shadow: 2px 1px 0px $accent-color;

      &:hover {
        border-bottom: 1px solid $light-color;
      }

      &:focus-visible {
        border: 1px solid $light-color;
      }
    }
  }

  .footer {
    &__heading {
      color: $heading-color;
      text-shadow: 2px 2px 0px $accent-color;
    }
  }
}

@media (prefers-color-scheme: dark) {
  $dark-color: #000028;
  $heading-color: #db00ff;
  $accent-color: #ff0070;
  $light-color: #f1b2ce;
  $border: 1px solid $accent-color;
}