.page {
  min-width: 375px;
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  color: $dark-color;
  background-color: $light-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}