.page {
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  color: $main-color-light;
  background-color: $bg-main-color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.decorated-zone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: $decoration-size;
    height: $decoration-size;
    border-top: $border-light;
    border-right: $border-light;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 10px;
    left: 10px;
    width: $decoration-size;
    height: $decoration-size;
    border-bottom: $border-light;
    border-left: $border-light;
  }
}