@import "../../styles/mixins/font-main.scss";

.section {
  display: grid;
  
  &__heading {
    @include font-main;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    row-gap: 50px;
  }

  &__content-grid {
    margin-top: 20px;
  }
  
  &__title {
    @include font-main;
    font-weight: 700;
    background-color: $accent-color;
  }

  &__content-list {
    display: grid;
    gap: 20px;
  }
}

@media (min-width: 700px) {
  .section {
    &__heading {
      width: 236px;
    }
  }
}

@media (min-width: 1024px) {
  .section {
    &__heading {
      width: 315px;
    }
  }
}